<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Movie Manager</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>Movie Manager</h1>
    <p>Welcome to my REST API project.</p>
</body>
</html>